<!-- Step 1: load angularJS library
     Step 2: load bootstrap css library
     Step 3: define the ng-app parameter in the root element
     Step 4: add a controller to the Template (HTML)
     Step 5: after the controller has been defined, initializing the variables in the scope
-->
<!-- ng-app is a directive to auto-bootstrap an AngularJS application => place on <body> or <html> tag
     The ngApp directive designates the root element of the application
     It will be loaded into the $injector when the application is bootstrapped.
-->
<!doctype html>
<!-- <html lang="en" ng-app> -->
<html lang="en" ng-app="myShop">  <!-- call the module, myShop -->
    <head>
        <meta charset="utf-8">
        <title>Welcome to BooKart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
		<!-- Angular does not know $routeProvider if the following statement is missed -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
        <script src="js/app.js"></script>
    </head>
	<!--<body ng-init="numOfBooks = 10"> <!-- <ng-init> directive evaluates the given expression

		Number of Books: <input ng-model="numOfBooks" /> <!-- <ng-model> directive is used for two ways data binding
		<p>Welcome to BooKart, we have collection of {{numOfBooks + ' Million'}} books.</p>  -->

	<!-- Using angularJS controller, HeaderCtrl => the following header view is a dynamic view -->
    <body>
		<!-- Making header fixed -->
        <div id="headerWrapper" ng-controller="HeaderCtrl">
			<!-- use $scope object to retrieve data displayed on the template or view -->
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
					<!-- add routing for the following statements -->
                    <li class="active"><a href="#/books">Books</a></li>
                    <li><a href="#/cart">Cart</a></li>
                </ul>
            </div>
        </div>

		<!-- create a dynamic view using ng-view directive => can view book-list.html or kart-list.html -->
		<!-- tell angular to change book-list.html or kart-list.html by using myApp.config(function($routeProvider) { }); -->
		<div ng-view></div>

		<!-- move bookListWrapper with BookListCtrl to another page
		<div id="bookListWrapper" ng-controller="BookListCtrl">
			<form role="form">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="Search here...">
			  </div>
			</form>
			<div>
			<ul class="list-unstyled">
				<li class="book" 
					style="background: white url(imgs/{{book.imgUrl}}) no-repeat"
					ng-repeat="book in books">
					<!-- <ng-repeat> The ng-repeat directive repeats a set of HTML, a given number of times.
					     books object inside the $scope is moved to book object -->
			<!--		<div class="book-details clearfix">
						<h3>{{book.name}}</h3>
						<p>{{book.price}}</p>
						<ul class="list-unstyled list-inline">
							<li>Rating: {{book.rating}}</li>
							<li>Binding: {{book.binding}}</li>
							<li>Publisher: {{book.publisher}}</li>
							<li>Released: {{book.releaseDate}}</li>
						</ul>
						<p>{{book.details}}</p>
						<button class="btn btn-info pull-right" ng-click="addToKart(book)">Add to Kart</button>
					</div>
				</li>
			</ul>
			</div>
        </div>
		-->

		<!-- before using angularJS => The following is a static view => move BookKart and We have 1 .. into controller inside app.js
        <div id="header-wrapper">
            <span class="logo pull-left">BookKart</span>
            <span class="tagline pull-left">We have 1 million books for you</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Books</a></li>
                    <li><a href="#">Kart</a></li>
                </ul>
            </div>
        </div> -->
    </body>
</html>